body {
    font-family:"Montserrat-Black 900", sans-serif;
}

.wrapper {
    display:flex;
}


.br{
    padding-left: 4rem;
    font-size:3rem;
}
.nv-col{
    padding-right: 2rem;
}
.bt-dn{
    margin: 1rem;
}

#title{
    background-color: azure;
    text-align: left;
}

.downloads{
    padding-bottom: 10%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
}
h2{
    font-family: "Montserrat-Black 900", sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.5;
    color: rgb(219, 217, 69); /*#f5981f   #ffd06a  rgb(235, 191, 133)*/
}

.container-fluid{
    padding: 12% 2% 0px;
}
.dn-btn{
    margin-top: 4%;
}

.tit{
    position: relative;
    z-index: 1;
}
.img{
    position: absolute;
}

h3 {
    font-family: "Montserrat-Black 900", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
p {
    color: #8f8f8f;
}

/* Pricing */

#pricing{
    padding:44px 80px 100px;
}

.pricing-column {
    padding: 3% 1%;
}
.h2-pricing{
    color: black;
}

/* Call to Action */

#cta{
    /* background-color: #555151; */
    background-color: rgb(160, 158, 36);
    padding: 7%;
}
.cta-h3{
    font-family: "Montserrat-Black 900", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    padding: 1% 11%;
}

/* footer */

#footer{
    background-color: azure;
    padding: 3% 1% 3% 1% ;
}
.soi{
    margin: 1rem;
    color: black;
}